* {
	box-sizing: border-box;
}
body {
background-color: #393E46;
}

footer {
	display: flex;
	justify-content: space-between;
}
.footer__copyright {
	color: #fff;
}
.footer__navbar-list {
	display: flex;
	gap: 20px;
}
.footer__navbar-item {
	list-style-type: none;
}
.footer__navbar-item:hover {
	padding: 10px;
	background-color: #00ADB5;
}
.footer__navbar-link {
	text-decoration: none;
	color: #fff;
}
