/* Общий стиль для всех элементов: установка box-sizing на border-box, 
   чтобы ширина и высота включали отступы и рамки */
*,
::after,
::before {
	box-sizing: border-box;
}

/* Стиль для body: установка фонового цвета всего документа */
body {
	background-color: #393E46;
}

/* Стиль для навигационной панели (вероятно, хедер): тёмный фон */
#navb {
	background-color: #222831;
}

.nav-link {
	margin-right: 10px;
	color: #eee;
	transition: 0.5s;
}

.nav-link:hover {
	color: #eee;
	background-color: #00ADB5;
	border-radius: 7.5%;
}

#skill {
	padding: 3rem 0;
	background-color: #222831;
	text-align: center;
}

.skill__section-title {
	margin-bottom: 3.4rem;
	color: #eee;
	text-align: center;
}

.skill__section-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 6rem;
}

.skill__card-img {
	margin-bottom: 1rem;
}

.skill__card-title {
	color: #eee;
	font-family: "Raleway", sans-serif;

	font-style: normal;
	font-weight: 700;
	/* Исправление */
}

.tab {
	display: flex;
	justify-content: center;
}

.page {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 2fr 2fr;
	gap: 15px;
}

.item1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.item2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.item3 {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

/* Сетка для секции навыков с 3 столбцами и 2 строками, gap между элементами 40px */
.sklss {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-rows: 2fr 2fr;
	gap: 12rem;
}

.sklss>img {
	margin: 0 auto;
}

.img2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	margin-bottom: 7rem;
}

.img3 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.img4 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.img5 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.img6 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.portfolio__section {
	margin: 30px 0;
}

.portfolio__section-title {
	margin-bottom: 30px;
	text-align: center;
	color: #eee;
}

.card {
	margin: 0 auto;
	padding: 10px;
	background-color: #eee;
}

.card-title {
	font-family: "Roboto Serif", serif;

	font-style: normal;
	font-weight: 600;
	/* Исправление */
	font-variation-settings: "wdth" 100, "GRAD" 0;
}

.card-text {
	font-family: "Raleway", sans-serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
}

.card-body {
	text-align: center;
}

.card-body .btn {
	background-color: #00ADB5;
	border-color: #00ADB5;
	transition: 0.5s;
	font-family: "Raleway", sans-serif;

	font-style: normal;
	font-weight: 500;
	/* Исправление */
}

.card-body .btn:hover {
	background-color: rgb(0, 120, 126);
	border-color: rgb(0, 120, 126);
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}

.footer__copyright {
	color: #eee;
	padding: 10px 20px;
	font-family: "Roboto Serif", serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
	font-variation-settings: "wdth" 100, "GRAD" 0;
}

.footer__navbar-list {
	display: flex;
	gap: 20px;
}

.footer__navbar-item {
	list-style-type: none;
	padding: 10px 20px;
	transition: 0.5s;
	font-family: "Roboto Serif", serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
	font-variation-settings: "wdth" 100, "GRAD" 0;
}

.footer__navbar-item:hover {
	background-color: #00ADB5;
	border-radius: 7.5%;
}

.footer__navbar-link {
	text-decoration: none;
	color: #eee;
}

.worksp {
	border-radius: 15% 15% 0 0;
}

.desc {
	color: #eee;
	font-family: "Raleway", sans-serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
}

.footer__background {
	background-color: #222831;
}

.logo {
	color: #eee;
	font-family: "Saira Stencil One", sans-serif;
	font-weight: 400;
	font-style: normal;
	opacity: .55;
}

.tlt {
	color: #eee;
	font-family: "Raleway", sans-serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
}

.nav-link {
	font-family: "Roboto Serif", serif;

	font-style: normal;
	font-weight: 400;
	/* Исправление */
	font-variation-settings: "wdth" 100, "GRAD" 0;
}

h2 {
	font-family: "Roboto Serif", serif;

	font-style: normal;
	font-weight: 600;
	/* Исправление */
	font-variation-settings: "wdth" 100, "GRAD" 0;
}